
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Liste des recettes</h1>

<ul>
    {% for recipe in recipes %}
        <li>
            <h2>{{ recipe.title }}</h2>
            <p>{{ recipe.description }}</p>
            <a href="{{ path('recipe_show', { id: recipe.id }) }}">Voir la recette</a>
        </li>
    {% else %}
        <p>Aucune recette trouvée.</p>
    {% endfor %}
</ul>
{% endblock %}
